
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .links {
    display: flex;
    gap: 20px;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .links a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  